<li>
  <h3> <% = menu_items[:name] %>
  <p> <% = menu_items[:description] %>
  <p> <% = menu_items[:price] %>
  <p> Admin Options:

<form action='/<%= menu_item.id %>' method='POST'>
  <p>
    <% if menu_item.id %>
      Edit Item:
    <% else %>
      Menu Items:
    <% end %>
  </p>
  <% if menu_item.id %>
    <input type="hidden" name="_method" value="PUT" />
  <% end %>
  Menu Item Name:<input type='text' name='menu_item[name]' value=<%= menu_item.name %>/> <br/>
  Description:</br><textarea name='menu_item[description]' value=<%= menu_item.description %></textarea> <br/>
  Menu Item Price:<input type='text' name='menu_item[price]' value=<%=menu_item.price %>/> <br/>
  <input type='submit'/>
</form>

# partial for both new and edit form
<form action="POST" url="/admin/locations/#{@location.id}">
  <input type="text" value="#{@location.name}" name="name" />
  <input type="text" value="#{@location.address}" name="address" />

  <input type="submit" />
</form>

# edit template
<h1>Editing <%= @location.name %></h1>

<%= render _form %>
